
name: CI - Snyk (base - Hello Multi-OS)

on:
  workflow_dispatch: {}        # permite rodar manualmente (Run workflow)
  push:
    branches: ["**"]
  pull_request:
    branches: ["**"]

permissions:
  contents: read

jobs:
  hello_linux:
    name: Hello - Linux (base)
    runs-on: ubuntu-latest
    steps:
      - name: Mensagem
        run: echo "Hello from Linux (Snyk base)"

  hello_windows:
    name: Hello - Windows (base)
    runs-on: windows-latest
    steps:
      - name: Mensagem
        run: echo "Hello from Windows (Snyk base)"
