
name: CI - App Médio (Só Snyk)

on:
  workflow_dispatch: {}
  push:
    branches: ["main"]

jobs:
  run_snyk:
    uses: douglasdeveza/projeto-pratico/.github/workflows/enterprise-snyk-reusable.yml@main
    with:
      enable_windows: true     # se o app compila em windows
      enable_linux: true       # se também roda em linux
      snyk_severity: high      # gate de severidade
    secrets:
      SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
